body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    min-height: 100vh;
}

.container-sm {
    display: flex;
    flex-direction: column;
}

#inputlg {
    width: 200px;
}
